/*

   contact.css
   Prototype

   Created By Joni Oliveira on 21-Agosto-2013

   Copyright 2013 RacingDesign

   All rights reserved

 */
#container{
	background: #FEFEFE; /* Old browsers */
	background: -moz-linear-gradient(top, #FEFEFE 0%, #B2B3B3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(100%,#B2B3B3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FEFEFE 0%,#B2B3B3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FEFEFE 0%,#B2B3B3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FEFEFE 0%,#B2B3B3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FEFEFE 0%,#B2B3B3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEFEFE', endColorstr='#B2B3B3',GradientType=0 ); /* IE6-9 */
}

#container > .container_12{
	background: #FEFEFE; /* Old browsers */
	background: -moz-linear-gradient(top, #FEFEFE 0%, #C5C6C6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(100%,#C5C6C6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FEFEFE 0%,#C5C6C6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FEFEFE 0%,#C5C6C6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FEFEFE 0%,#C5C6C6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FEFEFE 0%,#C5C6C6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEFEFE', endColorstr='#C5C6C6',GradientType=0 ); /* IE6-9 */

	margin-top: 0px;
}

h2{
	color: #000;
	margin-top: 0px;
	font-size: 13px;
	text-transform:uppercase;
}
 #distribuitors{
	font-size: 1.25em;
}

ul#distribuitors{
	list-style: none;
	margin-top: 40px;
}

#distribuitors li{
	margin-left: 8px;
	margin-bottom: 30px;
}

#distribuitors li h2{
	margin-bottom: 0px;
}

#distribuitors li span{
	font-weight: bold;
}

#distribuitors li a{
	color: #000;
	text-decoration: none;
}

#distribuitors li a:hover{
	color: #545559;
}

#distribuitors li img{
	margin-bottom: 5px;
	width: 35px;
	height: auto;
}