/*

   main.css
   Prototype

   Created By Joni Oliveira on 14-Junho-2013

   Copyright 2013 RacingDesign

   All rights reserved

Info:

= Main
=====================================================
= Font: AvantGarde, Folio Md, FolioXBd
= Color: C5C6C
= Body-Background: #191919
= Main-Container: linear-gradient(#191919, #5B5B5B)
= Menu-li: #727271 op(.7)
= Menu-link: linear-gradient(#FECC00, #FFF7B2)
= Menu-link a:hover: D9DADA
=====================================================

*/

/* ========== */
/* = Body = */
/* ========== */

body{
	background: #191919;
}

/* ============== */
/* = Principals = */
/* ============== */

.hide{
	display: none;
}

/* ========== */
/* = Header = */
/* ========== */

header{
	width: 960px;
	margin:auto;

}
	#logo{
		background-image: url('../img/logo.png');
		background-repeat: no-repeat;
		width: 400px;
		height: 50px;
		float:left;
		margin-top:10px;
		margin-bottom:35px;
	}

	/* ========== */
	/* = Top-Nav = */
	/* ========== */

	#top-nav{
		width: 300px;
		float: right;
	}

		#top-nav ul{
			margin-bottom: 0px;
		}
	
		#top-nav ul li{
			display:inline;
			margin: 0;
		}
		
			#top-nav ul#language{
					display: inline;
					float:right;
					padding-left:10px;
				}			
					#top-nav ul#language li:not(:last-child){
						border-right: 1px solid #C5C6C6; 
						margin-left: 2px;
						margin-top: 2px;
						margin-bottom: 2px;
						padding-right: 4px;
					}
					
						#top-nav ul#language a{
							font-size: 1.2em;
							text-decoration: none;
							color: #C5C6C6;
						}
			
			#top-nav ul#social{
				display: inline;
				float:right;
				
			}
			
				li.social-link img{
					width: 25px;
					height: 25px;
				}
			#top-nav .register-link{
					font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
					text-decoration: none;
					color: #C5C6C6;
					font-weight: bold;
					text-transform:uppercase;
					clear: right;
					float: right;
					margin-top: 5px;
			}
	
	/* ========== */
	/* = Main-Nav = */
	/* ========== */
	
	/*Uma vez que os dados são todos iguais faço um text geral*/
	nav#main-nav a{
		text-decoration: none;
		color: #C5C6C6;
		font-weight: bold;
		text-transform:uppercase;
		opacity: 1;
		font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}
	nav#main-nav{
		clear:both;
		padding: 0px;
		margin-left:auto;
		margin-right:auto;
		text-align: center;
		background-image: url('../img/main-nav-bg.jpg');
		margin-top:30px;
		z-index: 999;
	}
	
	#main-nav ul{
	  text-align: center;
	  display: inline;
	  margin: 0;
	  padding: 0;
	  list-style: none;
	  z-index: 998;
	}

		#main-nav  ul li {
		  display: inline-block;
		  margin: 0;
		  position: relative;
		  padding: 10px 20px;
		  cursor: pointer;
		  width: 110px;
		  z-index: 1000;
		}

		#main-nav  ul li:hover {
			background: #191919;
		}

		#main-nav  ul li:hover > a{
			background: #191919;
			opacity: 1;
			color: #ffcd09;
		}

		
			#main-nav  ul li ul {
				text-align: left;
			  	margin-left: 0px;
			  	padding: 0;
			  	position: absolute;
			  	top: 39px;
			  	left: 0;
			  	width: 200px;
			  	-webkit-box-shadow: none;
			  	-moz-box-shadow: none;
			  	box-shadow: none;
			  	display: none;
			  	opacity: 1;
			  	visibility: visible;
			  	-webkit-transiton: opacity 0.2s;
			 	-moz-transition: opacity 0.2s;
			  	-ms-transition: opacity 0.2s;
			  	-o-transition: opacity 0.2s;
			  	-transition: opacity 0.2s;
			}
			
			#main-nav  ul li:first-child ul a {
				margin-left: 17px;
			
			}

			#main-nav  ul li:hover > ul {
				display: block;
				opacity: 0.8;
				visibility: visible;
			}

			#main-nav ul li ul li:hover ul{
				display: block;
				opacity: 0;
				visibility: hidden;
			}

			#main-nav ul li ul li:hover > ul{
				display: block;
				opacity: 1;
				visibility: visible;
			}
			
				#main-nav  ul li ul li { 
				  background: #555; 
				  display: block; 
				  color: #fff;
				  width: 200px;
				  padding-right:0px;
				  text-shadow: 0 -1px 0 #000;
				}
				
					#main-nav  ul li ul li ul{
					  padding:0;
					  position: absolute;
					  top: 0px;
					  left: 220px;
					  width: 220px;
					  -webkit-box-shadow: none;
					  -moz-box-shadow: none;
					  box-shadow: none;
					  display: none;
					  opacity: 0;
					  visibility: hidden;
					  -webkit-transiton: opacity 0.2s;
					  -moz-transition: opacity 0.2s;
					  -ms-transition: opacity 0.2s;
					  -o-transition: opacity 0.2s;
					  -transition: opacity 0.2s;
					}


					#main-nav  ul li:hover > ul li ul {
					  display: none;
					  opacity: 0;
					  visibility: hidden;
					}


					#main-nav  ul li ul li:hover > ul {
					  display: block;
					  opacity: 1;
					  visibility: visible;
					}
					
	/* ============= */
	/* = Container = */
	/* ============= */
	
#container > .container_12{
	background: #191919; /* Old browsers */
	background: -moz-linear-gradient(top, #191919 0%, #5b5b5b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#191919), color-stop(100%,#5b5b5b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #191919 0%,#5b5b5b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #191919 0%,#5b5b5b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #191919 0%,#5b5b5b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #191919 0%,#5b5b5b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191919', endColorstr='#5b5b5b',GradientType=0 ); /* IE6-9 */
	
	margin-top: 30px;
}

	/* ============ */
	/* = Carousel = */
	/* ============ */
	
	.slider-wrapper > img{
		width: 940px;
		height: auto;
		margin-left: auto;
		margin-right:auto;
	}

	.nivoSlider {
    position:relative;
	}
	.nivoSlider img {
	    position:absolute;
	    top:0px;
	    left:0px;
	    display:none;
	}
	.nivoSlider a {
	    border:0;
	    display:block;
	}
	
	/* ============ */
	/* = news = */
	/* ============ */

	#news{
		margin-bottom: 20px;
	}

	/* ============ */
	/* = lst-news = */
	/* ============ */

	#lst-news>h2{
		color: #C5C6C6;
	}

	#lst-news>img{
		width: 420px;
		height: 300px;
		margin-bottom: 30px;
	}
	
	
	/* =============== */
	/* = lst-product = */
	/* =============== */
	#lst-product>h2{
		width: 420px;
		color: #C5C6C6;
		float: right;
	}

	#lst-product>img{
		width: 420px;
		height: 300px;
		float: right;
	}

	#lst-product.capty-wrapper{
		float: right;
	}

	/* ========== */
	/* = footer = */
	/* ========== */
	footer{
		color: #C5C6C6;
	}
	/* ========== */
	/* = design = */
	/* ========== */
	#design{
		margin-left: 0px;
	}

	#design img{
		width: 150px;
		height: auto;
	}
	/* ============= */
	/* = copyright = */
	/* ============= */
	#copyright{
		text-align: right;
		margin-right: 0px;
		position: relative;
		right: -20px;
		text-transform: uppercase;
	}



