#data_tabs { padding: 10px; margin: 0 0 15px 0; -moz-box-shadow: 0 0 5px #666; -webkit-box-shadow: 0 0 5px #666; }

#data_tabs .tabs_nav { 
	background: #d8d8d9; /* Old browsers */
	background: -moz-linear-gradient(top, #d8d8d9 0%, #b3b4b4 50%, #d8d8d9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8d8d9), color-stop(50%,#b3b4b4), color-stop(100%,#d8d8d9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d8d8d9 0%,#b3b4b4 50%,#d8d8d9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d8d8d9 0%,#b3b4b4 50%,#d8d8d9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d8d8d9 0%,#b3b4b4 50%,#d8d8d9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d8d8d9 0%,#b3b4b4 50%,#d8d8d9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d9', endColorstr='#d8d8d9',GradientType=0 ); /* IE6-9 */
	overflow: hidden; 
	margin: 0 0 10px 0; 
}
#data_tabs .tabs_nav li { width: 105px; float: left; margin: 0 5px 0 0; }
#data_tabs .tabs_nav li.last { margin-right: 0; }
#data_tabs .tabs_nav li a { display: block; padding: 5px; color: white; font-size: 11px; text-align: center; border: 0; text-decoration: none; text-transform: uppercase;}
#data_tabs .tabs_nav li a:hover { color: #000; background-color: transparent;}

#data_tabs ul { list-style: none; padding-left: 0px;}
#data_tabs ul li { margin-left: 0px;}
#data_tabs ul li a { display: block; border-bottom: 1px solid #666; padding: 4px; color: #666; }
#data_tabs ul li a:hover, #data_tabs ul li a:focus { background: #fe4902; color: white; }
#data_tabs ul li:last-child a { border: none; }
#tabs table { width: 440px;}
#tabs table tr td{ padding-left: 5px;}
#tabs table tr.even{background-color: #CCC;}
#tabs table tr.odd{background-color: #EDEDED;}
#tabs table tr td.feature-description{ text-align: center;}
.hide { position: absolute; top: -9999px; left: -9999px; }