/*

   products.css
   Prototype

   Created By Joni Oliveira on 21-Agosto-2013

   Copyright 2013 RacingDesign

   All rights reserved

Info:
= Products
=====================================================
= Body-background: linear-gradient(#B2B3B3, #FEFEFE)
= Main-background: linear-gradient(#C5C6C6, #FEFEFE)
= Menu-li: #727271 op(.7)
= Menu-link: linear-gradient(#FECC00, #FFF7B2)
= Menu-link a:hover: D9DADA
= Table-even-background: #CCC
= Table-odd-background: #EDEDED
= Nav: linear-gradient(#B3B4B4, #D8D8D9), middleout
=====================================================
*/

#container{
	background: #FEFEFE; /* Old browsers */
	background: -moz-linear-gradient(top, #FEFEFE 0%, #B2B3B3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(100%,#B2B3B3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FEFEFE 0%,#B2B3B3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FEFEFE 0%,#B2B3B3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FEFEFE 0%,#B2B3B3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FEFEFE 0%,#B2B3B3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEFEFE', endColorstr='#B2B3B3',GradientType=0 ); /* IE6-9 */
}

#container > .container_12{
	background: #FEFEFE; /* Old browsers */
	background: -moz-linear-gradient(top, #FEFEFE 0%, #C5C6C6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(100%,#C5C6C6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FEFEFE 0%,#C5C6C6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FEFEFE 0%,#C5C6C6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FEFEFE 0%,#C5C6C6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FEFEFE 0%,#C5C6C6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEFEFE', endColorstr='#C5C6C6',GradientType=0 ); /* IE6-9 */

	margin-top: 0px;
}	

img{
	width: 300px;
	height: auto;
}

.post-content p{
	padding-right: 10px;
}

.post{
	margin-bottom: 20px;
}

hr{
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(left,  transparent 0%, #b2b3b3 50%, transparent 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,transparent), color-stop(50%,#b2b3b3), color-stop(100%,transparent)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  transparent 0%,#b2b3b3 50%,transparent 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  transparent 0%,#b2b3b3 50%,transparent 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  transparent 0%,#b2b3b3 50%,transparent 100%); /* IE10+ */
	background: linear-gradient(to right,  transparent 0%,#b2b3b3 50%,transparent 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='transparent',GradientType=1 ); /* IE6-9 */
	border:0;
	height: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

.post-date{
	color: #636365;
}

.btn-read-more{
	padding: 5px;
	background-color: #636365;
	color: #D9DADA;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.btn-read-more:hover{
	background-color: #D9DADA;
	color: #636365;
};