/*

   products.css
   Prototype

   Created By Joni Oliveira on 14-Junho-2013

   Copyright 2013 RacingDesign

   All rights reserved

Info:
= Products
=====================================================
= Body-background: linear-gradient(#B2B3B3, #FEFEFE)
= Main-background: linear-gradient(#C5C6C6, #FEFEFE)
= Menu-li: #727271 op(.7)
= Menu-link: linear-gradient(#FECC00, #FFF7B2)
= Menu-link a:hover: D9DADA
= Table-even-background: #CCC
= Table-odd-background: #EDEDED
= Nav: linear-gradient(#B3B4B4, #D8D8D9), middleout
=====================================================
*/

#container{
	background: #FEFEFE; /* Old browsers */
	background: -moz-linear-gradient(top, #FEFEFE 0%, #B2B3B3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(100%,#B2B3B3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FEFEFE 0%,#B2B3B3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FEFEFE 0%,#B2B3B3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FEFEFE 0%,#B2B3B3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FEFEFE 0%,#B2B3B3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEFEFE', endColorstr='#B2B3B3',GradientType=0 ); /* IE6-9 */
}

#container > .container_12{
	background: #FEFEFE; /* Old browsers */
	background: -moz-linear-gradient(top, #FEFEFE 0%, #C5C6C6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(100%,#C5C6C6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FEFEFE 0%,#C5C6C6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FEFEFE 0%,#C5C6C6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FEFEFE 0%,#C5C6C6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FEFEFE 0%,#C5C6C6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEFEFE', endColorstr='#C5C6C6',GradientType=0 ); /* IE6-9 */

	margin-top: 0px;
}	

#product_main_image{
	background-color: #fff;
	width: 370px;
}

#product_main_image img{
	margin-top: 30px;
	width: 350px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 20px;
}

#other_images{
	height: 100px;
	text-align: center;
}

.thumb{
	width: 110px;
	height: 110px;
	background-color: #fff;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.thumb img{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#product_logo img{
	margin-top: 30px;
	width: 400px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
}

#spec img{
	text-align: center;
	vertical-align: middle;
	margin-right: 10px;
       width: 100px;
}

#spec{
	text-align: center;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
}

#tabs{ margin-bottom: 50px;}
#tabs table { width: 450px;}
#tabs table tr td{ padding-left: 5px;}
#tabs table tr.even{background-color: #CCC;}
#tabs table tr.odd{background-color: #EDEDED;}
#tabs table tr td.feature-description{ text-align: center;}
#tabs-2{ padding-left: 2px; padding-right: 0px;}

#tabs-1 p{ height: 370px;}

#tabs-3{
	padding-top: 20px;
	margin-top: 0px;
}

#tabs-3 img{
	vertical-align: middle;
	width: 70px;
	padding-right: 10px;
}

#tabs-3 .spec-tech h6{
	margin: 0; 
	padding-top: 0px;
}

#tabs-3 h6{
	margin: 0;
	padding-top: 10px; 
}

#tabs-3 hr{
	padding: 0px;
	padding-bottom: 10px;
	margin:0px;
}

.support-link{
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}
