/*

   register.css
   Prototype

   Created By Joni Oliveira on 2-Setembro-2013

   Copyright 2013 RacingDesign

   All rights reserved

*/

#container{
	background: #FEFEFE; /* Old browsers */
	background: -moz-linear-gradient(top, #FEFEFE 0%, #B2B3B3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(100%,#B2B3B3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FEFEFE 0%,#B2B3B3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FEFEFE 0%,#B2B3B3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FEFEFE 0%,#B2B3B3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FEFEFE 0%,#B2B3B3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEFEFE', endColorstr='#B2B3B3',GradientType=0 ); /* IE6-9 */
}

#container > .container_12{
	background: #FEFEFE; /* Old browsers */
	background: -moz-linear-gradient(top, #FEFEFE 0%, #C5C6C6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(100%,#C5C6C6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FEFEFE 0%,#C5C6C6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FEFEFE 0%,#C5C6C6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FEFEFE 0%,#C5C6C6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FEFEFE 0%,#C5C6C6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEFEFE', endColorstr='#C5C6C6',GradientType=0 ); /* IE6-9 */
	margin-top: 0px;
	padding-top: 30px;
}	

#product_register form,#form-errors {
	width: 340px;
	margin: auto;
	clear: both;
}

#product_register form input{
	display: inline;
	float: right;
	clear: right;
	width: 200px;
}

#product_register form label{
	font-size: 1.1em;
	display: inline-block;
	float: left;
	clear: left;
	text-align: right;
	padding-bottom: 10px;
	padding-top: 2px;
}

#product_register form input[type="submit"]{
	width: 100px;
	height: 25px;
	background-color: #636365;
	color: #D9DADA;
	margin-top: 10px;
	border: 0px;
	font-family: 'arial', sans-serif;
	font-size: 1.0em;
	margin-bottom: 30px;
}

#form-errors{
	padding: 10px;
	margin-top: 50px;
	border: 1px solid red;
	border-radius: 10px;
}

#form-errors ul{
	margin-top: 10px;
	color: red;
}

.complete-register{
	text-align: center;
	margin-bottom: 30px;
}

.complete-register a{
	padding: 10px;
	text-decoration: none;
	height: 25px;
	background-color: #636365;
	color: #D9DADA;
	margin-top: 10px;
	border: 0px;
	font-family: 'arial', sans-serif;
	font-size: 1.0em;
	margin-bottom: 30px;
}