body{
	background-color: #404041;
	color: #fff;
	font-family: 'Arial', sans-serif;
}

.container{
	width: 960px;
	margin: auto;
	padding-top: 50px
}

h1{
	font-size: 2.5em;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 50px;
}

#prototype_logo{
	width: 960px;
	height: auto;
	padding-top: 50px;
}

#coming_soon{
	width: 700px;
	height: auto;
	margin: 50px auto;
	display: block;
}

#client_links{
	padding-top: 100px;
}

#client_links a{
	text-decoration: none;
	font-size: 1.7em;
	color: #e9eaeb;
	text-transform:uppercase;
}

#client_links a:hover{
	color: #ffcd00;

}

#register{
	float: right;
}

#distribuitors{
	font-size: 1.25em;
}

#distribuitors li{
	margin-bottom: 40px;
}

#distribuitors li h2{
	margin-bottom: 3px;
}

#distribuitors li span{
	font-weight: bold;
}

#distribuitors li a{
	color: #e9eaeb;
	text-decoration: none;
}

#distribuitors li a:hover{
	color: #ffcd00;
}

#distribuitors li img{
	margin-bottom: 10px;
	width: 50px;
	height: auto;
}

#outro_pais{
	font-size: 1.27em;
}

#product_register h1{
	text-align: center;
}

#product_register form,#form-errors {
	width: 340px;
	margin: auto;
	clear: both;
}

#product_register form input{
	display: inline;
	float: right;
	clear: right;
	width: 200px;
}

#product_register form label{
	font-size: 1.1em;
	display: inline-block;
	float: left;
	clear: left;
	text-align: right;
	padding-bottom: 10px;
	padding-top: 2px;
}

#product_register form input[type="submit"]{
	width: 100px;
	height: 25px;
	background-color: #CCC;
	margin-top: 10px;
	border: 0px;
	font-family: 'arial', sans-serif;
	font-size: 1.0em;
	margin-bottom: 30px;
}

#form-errors{
	padding: 10px;
	margin-top: 50px;
	border: 1px solid red;
	border-radius: 10px;
}

#form-errors ul{
	margin-top: 10px;
	color: red;
}

#message{
	padding-top: 50px;
	color: #ffcd00;
	margin: auto;
	text-align: center;
	font-size: 1.5em;
}

